<p class="home-tittle">Every day more people are using Smart Weather!</p>

<div class="home-section">
    <div class="div1">
        <div class="div1-1">
            <p>Create your account for free</p>
        </div>
        <div class="div1-2">
            <p>Save the cities of your interest and track all the information in one site</p>
        </div>
    </div>
    <div class="div2">
        <div class="div2-1">
            <p>Real-time weather data</p>
            <ul>
                <li><i class="bi bi-check"></i> Time, temperature and climate description</li>
                <li><i class="bi bi-check"></i> UV Index and Air Quality status</li>
                <li><i class="bi bi-check"></i> Current atmospheric characteristics <i class="bi bi-cloud-haze2-fill"></i> </li>
                <li><i class="bi bi-check"></i> Astronomy information  <i class="bi bi-sunset-fill"></i></li>
            </ul>
        </div>
    </div>


</div>