<h1>results</h1>

{{#each destinations}}
<p>{{this.name}} </p>
<p>{{this.country}}</p>

<form method="GET" action="/results/city/{{this.name}}{{this.country}}" name="cityName">
    <button type="submit" class="btn btn-primary">See Details</button>
</form>
{{/each}}

